






/* add project form */

.add-project-form{
    /* color:green; */
}

.project-form-hidden{
    display:none;
}

.project-completed{
    text-decoration: line-through;
    color:black;
    background-color: grey;
}

.project-completed-background{
    background-color: grey;
}
