
/* task Item(s) */
.task-completed{
    text-decoration: line-through;
    color:black;
    background-color: grey;
}

.todo *{
    pointer-events: none;
}



/* add task form */

.add-task-form{
    color:green;
}

.task-form-hidden{
    display:none;
}
