
/* task Item(s) */

.todo-container{
    width:70%;
    margin: 0 auto;
}

.task-completed{
    text-decoration: line-through;
    color:black;
    background-color: grey;
}

.task-completed-background{
background-color: grey;
}


.delete-icon {
    text-decoration: none;
    align-self: center;
}

.todo{
    display:flex;
    justify-content: space-between;
    padding:.5rem 2rem;
}




/* add task form */

.add-task-form{
    /* color:green; */
}

.task-form-hidden{
    display:none;
}
